# Image tags
BASE_IMAGE=aufwinde/base
WRF_IMAGE=aufwinde/wrf
RASP_IMAGE=europe-west3-docker.pkg.dev/aufwinde/rasp/rasp

# Versions of WRF and WPS that shall be used. Those must be valid tags in the corresponding GitHub repo
WRF_VERSION=v4.3.3
WPS_VERSION=v4.3.1

WRF_MARCH_BUILD=native
WRF_MARCH_PROD=znver3

# Your region folder
REGION=TIR
